/***********************/
/*      Book           */
/***********************/
.book {
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 1px solid var(--boder-color);
    border-radius: 5px;
    background-color: var(--bg-color);
}
.book__cover-image {
    flex: 0 0 130px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.book__info {
    flex: 1 1 auto;
    margin-left: 10px;
    padding-top: 3px;
}
.book__title {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 3px;
}
.book__actions {
    margin-top: 18px;
}
.book__download {
    margin-left: 20px;
}


/***********************/
/*      BookList       */
/***********************/
.book-list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/***********************/
/*      SearchForm     */
/***********************/
.search-form {
    --border-color: #424242;
    --bg-color: var(--border-color);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.search-form__field {
    flex: 1 1 auto;
}
.search-form__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-form__input:focus, .search-form__input {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}
.search-form__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #373737;
    color: gray;
}
/***********************/
/*      Navigation    */
/***********************/
.navigation {
    --text-color: #858585;
    --active-color: #339933;
    --border-color: #424242;
    --hover-color: rgba(13, 134, 13, .05);
    margin-bottom: 30px;
}
.navigation__link {
    color: var(--text-color);
    text-decoration: none;
}
.navigation__link:hover {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--hover-color);
}

.is-active .navigation__link, .is-active .navigation__link:hover {
    border-bottom: 1px solid  var(--active-color);
    color: var(--active-color);
}


/***********************/
/*      SiteHeader     */
/***********************/
.site-header {
    --bg-color: #2C2C2C;
    display: flex;
    flex-direction: row;
}
.site-header__logo {
    font-size: 15px;
    padding-left: 5px;
}
.site-header__logo-img {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}
.site-header__logo, .site-header__logo:hover {
    color: var(--body-text-color);
    text-decoration: none;
}
.site-header__search-form {
    flex: 0 0 50%;
    display: flex;
    margin: auto;
}


/***************************
    PAGINATION
****************************/
.page-item.active .page-link {
 color:#fff;
 background-color: #646464;
 border-color: #646464;
}
.page-link {
    background-color: var(--bg-color);
    border:1px solid var(--input-border-color);
    color: gray;
}
.page-link:hover {
    background-color: #373737;
    border-color: var(--input-border-color);
    color: gray;
}
